
//TYPOGRAPHY

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}




@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Playfair+Display|Roboto|Kanit:300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.2.0/css/swiper.min.css");
/* Modular Scale located here: https://www.modularscale.com/?1,1140,12&em&1.3 */




 html, body {
	line-height: 1.4;
	font-size: 0.97em;
    font-family: 'Noto Sans', 'Kanit', sans-serif; 
}

body { width: 100%; margin: 0 auto; }

// Fluid Modular Scale this!

h1,h2,h3,h4,h5,h6 { 
    font-family: 'Playfair Display', "Kanit", sans-serif;
    margin: 1.375rem 0;
    color: #d0cba4;

}

h1 {
	@include fluid-type('font-size', 50rem, 80rem, 1.596rem, 3.398rem);
}
h2 {
	@include fluid-type('font-size', 50rem, 80rem, 1.515rem, 2.627rem);
}
h3 {
	@include fluid-type('font-size', 50rem, 80rem, 1.438rem, 1.999rem);
}
h4 {
	@include fluid-type('font-size', 50rem, 80rem, 1.367rem, 1.414rem);
}
h5 {
	@include fluid-type('font-size', 50rem, 80rem, 1rem, 1rem);
}
h6 {
	@include fluid-type('font-size', 50rem, 80rem, 0.937rem, 0.707rem);
}





.swiper-container{
	height: 500px;
}